<div class="container mt-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="w-100" style="max-width: 500px;">
    <!-- Perfil de usuario -->
    <div *ngIf="user">
      <h2 class="text-center mb-4">Perfil de {{ user.nombre }}</h2>
    
      <form (ngSubmit)="saveChanges()">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre de usuario:</label>
          <input id="nombre" type="text" [(ngModel)]="editableUser .nombre" name="nombre" class="form-control" required />
        </div>
        
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña:</label>
          <input id="password" type="password" [(ngModel)]="editableUser .password" name="password" class="form-control" required />
        </div>

        <div class="mb-3">
          <label for="rol" class="form-label">Rol</label>
          <input id="rol" type="text" [(ngModel)]="editableUser.rol" name="rol" class="form-control" readonly />

        </div>
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
          <button (click)="redirectToPrincipal()" class="btn btn-secondary">Volver</button>
        </div>
      </form>

      <!-- Mensajes de éxito y error -->
      <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>