<div class="container mt-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="w-100" style="max-width: 400px;">
    <h2 class="text-center mb-4">Recuperar Contraseña</h2>
    
    <form [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input id="email" type="email" formControlName="email" class="form-control" />
        <div *ngIf="recuperarForm.get('email')?.invalid && recuperarForm.get('email')?.touched" class="text-danger">
          Ingrese un correo electrónico válido.
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="recuperarForm.invalid">Recuperar Contraseña</button>
    </form>

    <div *ngIf="mensaje" class="alert alert-info mt-3">
      {{ mensaje }}
    </div>

    <div class="navigation-buttons mt-4 d-flex justify-content-between">
      <button (click)="redirectToLogin()" class="btn btn-secondary">Volver</button>
    </div>
  </div>
</div>